:root {
    --primary-text-color: #757575
    --title-text-color: #212121
    --accent-color: #2196F3;
}

body {
    background-color: white;
    color: var(--primary-text-color);
}

link:hover
link:focus {

}