:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --fff-color: #FFFFFF;
    --btn-color: #F5F4FA;
    --footer-color: #2F303A;
    --main-font: "Roboto", sans-serif;
    --logo-font: "Raleway", sans-serif;
    --title-size: 36px;
    --text-size: 14px;
    --btn-size: 16px;
    --portfolio-size: 18px;
}

body {
    background-color: var(--fff-color);
    color: var(--primary-text-color);
    font-style: normal;
    font-size: var(--text-size);
    letter-spacing: 0.03em;
    font-family: var(--main-font);
    font-weight: 400;
    line-height: 16px;
   }

/* header */

.header {
    width: 1600;
    height: 80;        
}

.list {
    list-style: none;
    text-decoration: none;
}

.logo {
    color: black; 
    text-decoration: none;
    font-family: var(--logo-font);   
    font-size: 26px; 
    line-height: 31px;  
    font-weight: 700; 

}

.nav-logo {
    color: var(--accent-color);    
}

.site-nav {
    text-decoration: none;
    color: var(--title-text-color); 
    font-weight: 500; 
    letter-spacing: 0.02em;
}

.link-navigation {
    text-decoration: none;
    color: var(--title-text-color);
  
}

.link-contact {
    text-decoration: none; 
    color: var(--primary-text-color);
    font-weight: 500;
    letter-spacing: 0.02em;
}

.site-nav .link-navigation:hover,
.site-nav .link-navigation:focus {
   color:  var(--accent-color);
}

.list-contact .link-contact:focus,
.list-contact .link-contact:hover {
    color: var(--accent-color);
}

.site-nav .link-navigation.current{
    color: var(--accent-color);   
}

/* first section */

.service {
    background-color: var(--footer-color);
}

.service-title {
    text-transform: uppercase;
    color: var(--fff-color);  
    font-size: 44px;
    font-weight: 900;    
    line-height: 60px;
    letter-spacing: 0.06em;
}

.service-btn {
    font-size: var(--btn-size);
    color: var(--fff-color);
    background-color: var(--accent-color);    
    border: none;
    padding: 10px 32px;
    border-radius: 4px;
    line-height: 30px;
    letter-spacing: 0.06em;    
}

/* second section */

.work-title-list {
    color: var(--title-text-color); 
    text-transform: uppercase;
    font-weight: 700;
}

.work-text {
    line-height: 24px;    
    width: 270px;    
}

.work-title {
    font-size: var(--title-size); 
    color: var(--title-text-color);
    font-weight: 700;   
    line-height: 42px;
}

/* third section */

.team {
    background-color: var(--btn-color);
}

.team-title {
    font-size: var(--title-size);
    color: var(--title-text-color);
    font-weight: 700;
    line-height: 42px;

}

.team-list {
    list-style: none;
    text-decoration: none;    
    background-color: var(--fff-color);
    width: 270px;
}

.team-title-list {
    font-size: var(--btn-size);
    font-weight: 500;  
    color: var(--title-text-color);
    line-height: 19px;

}

.team-text {
    font-size: var(--btn-size);
    line-height: 19px;
}

/* portfolio */

.portfolio-btn {
    font-size: var(--btn-size);
    font-weight: 500;
    background-color: var(--btn-color);
    color:  var(--title-text-color);
    padding: 6px 22px;
    border-radius: 4px;
    border: none;
    line-height: 26px;
    letter-spacing: 0.03em;
}

.btn-first {
    background-color: var(--accent-color);
    color: var(--fff-color);    
}

.btn-active:hover,
.btn-active:focus {
    background-color: var(--accent-color);
    color: var(--fff-color);

}

.portfolio-title {
    font-size: var(--portfolio-size);
    color: var(--title-text-color);
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
}

.portfolio-text {
    font-size: var(--btn-size);
    line-height: 30px;
    
}

/* footer */

.footer {
    background-color: var(--footer-color);
}

.footer-text {
    color: var(--fff-color);
    font-style: normal;
    line-height: 24px;
}

.footer-link {
    text-decoration: none;
    color: var(--primary-text-color); 
    font-style: normal;
    line-height: 24px;
}

.footer-link:hover,
.footer-link:focus {
   color:  var(--accent-color);
}